/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html{
    font-family: 'Pathway Gothic One', sans-serif;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

/* GENERAL WRAPPERS*/
    #fakeHeight{
        position: absolute;
        width: 100%;
        height: 400%;
        min-height: 2400px;
    }
    #fullWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #currentWrapper{
        position: fixed;
        margin: auto;
        top: 0; bottom: 0; 
        right: 0; left: 0;

        width: 90%;
        width: calc(100% - 50px);

        height: 90%;
        height: calc(100% - 50px);
        background-color: #fff;
    }

    .innerSection{
        position: absolute;
        width: 100%;
        height: 100%;
    }
/* END GENERAL WRAPPERS*/

/*LOADER*/
    #loader{
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: auto;
        top: 0; right: 0; left: 0; bottom: 0;
        background-color: #000;
        z-index: 1000000000;

        -webkit-transition: all .4s ease-in-out;
           -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
             -o-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
    }

    .MariaLuisa{
        width: 90%;
        width: calc(100% - 50px) !important;

        height: 90%;
        height: calc(100% - 50px) !important;
    }

    .progressBar{
        position: absolute;
        width: 0%;
        height: 1px;
        float: left;
        margin: auto;
        top: 0; bottom: 0; right: 0; left: 0;
        border-bottom: 1px solid #d78e5c;
        animation:loading 10s ease-in infinite alternate;
    }

    @keyframes loading{
        0%{width: 0%; }
        100%{width: 90%; }
    }
/*END LOADER*/

/*NAVIGATION MENU*/
    #menuWrapper .menuOptions{
        position: fixed;
        width: 100px;
        height: 30px;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;
        z-index: 1000;
        color: #fff;
        margin: auto;
        letter-spacing: 1px;
    }

    #homeMenu{
        top: 40px;
        left: 0;
        right: 0;
    }

    #biografiaMenu{
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: 5px !important;

        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }

    #galeriaMenu{
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: 5px !important;

        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }

    #contactoMenu{
        position: fixed;
        width: 300px;
        height: 90px;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        margin: auto;
        
        bottom: -30px;
        left: 0;
        right: 0;

        z-index: 1000;
        cursor: pointer;
    }

    #contactoMenu a{
        display: block;
    }

    #rrss{
        position: absolute;
        width: 120px;
        height: 30px;
        margin: auto;
        left: 0; right: 0;
        bottom: 30px;
        z-index: 1000;
    }

    #rrss li{
        position: relative;
        width: 30px;
        height: 30px;
        list-style-type: none;
        float: left;
        display: inline-block;
        vertical-align: top;
        zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
        border-bottom: 1px solid rgba(255,255,255,0);
        opacity: 0.5;
    }

    #rrss li:hover{
        border-bottom: 1px solid rgba(255,255,255,1);
        opacity: 1;
    }

    #rrss li img{
        position: absolute;
        width: 60%;
        height: 60%;
        margin: auto;
        top: 0;  bottom: 0;
        right: 0; left: 0; 
    }

    #snapID{
        width: 200px;
        position: absolute;
        right: -20px;
        opacity: 0;
        z-index: 1;
    }

    #snapID:hover{
        right: 0;
        opacity: 1;
    }
/*END NAVIGATION MENU*/

/*HOME SECTION*/
    #homeWrapper{
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 100%;
    }

    #imgContainer{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #img1{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: url(../img/home/CF-2.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: top center;
    }

    #logoWrapper{
        position: absolute;
        width: 375px;
        height: 110px;
        margin: auto;
        top: 0; bottom: 0;
        right: 0; left: 0;
    }

    #logoWrapper img {
        width: 100%;
    }
/*END HOME SECTION*/

/*BIOGRAFIA SECTION*/
    #biografiaWrapper{
        position: absolute;
        height: 100%;
        left: 0;
        background-color: #fff;
        overflow: scroll;
    }

    #biografiaCurtain{
        position: absolute;
        height: 495%;
        left: 0;
        background-color: #fff;
    }

    #biografiaContainer{
        position: absolute;
        width: 100%;
        height: 400%;
        min-height: 3000px;
    }

    #bioLogo{
        position: fixed;
        width: 237px;
        height: 70px;
        top: 66px;
        right: 66px;
        z-index: 1000;
        cursor: pointer
    }

    #bioLogo img{
        width: 100%;
    }

    .bioSections{
        position: relative;
        width: 100%;
        height: 25%;
        margin-bottom: 15%;
    }

    .bioSections:last-child{
        margin-bottom: 0%;
    }

        #bioSec1 .textWrapper {
            position: absolute;
            width: 841.5px;
            height: 310px;
            margin: auto;
            top: 0; bottom: 0;
            right: 15%;
            text-align: center;
        }

            #bioSec1 .textWrapper .bioTitles{
                text-transform: uppercase;
                font-size: 4em;
                line-height: 1em;
                -webkit-font-smoothing: antialiased !important;
                   -moz-font-smoothing: antialiased !important;
                    -ms-font-smoothing: antialiased !important;
                     -o-font-smoothing: antialiased !important;
                        font-smoothing: antialiased !important;
            }

            #bioSec1 .textWrapper p{
                width: 92%;
                margin: auto;
                left: 0; right: 0;
                margin-top: 20px;
                font-size: 1.4em;
                padding: 20px;
                background-color: rgba(255,255,255,0.9);
            }

        #bioSec2 .bgStroke{
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../img/biografia/A_Stroke.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }

        #bioVoiceWrapper{
            position: absolute;
            width: 90%;
            height: 80%;
            margin: auto;
            top: 0; bottom: 0; right: 0; left: 0;
        }

            .bioLeftCol{
                position: relative;
                width: 30%;
                height: 100%;
                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
            }

                #bioSec2 .bioPicture{
                    position: absolute;
                    width: 77%;
                    height: 77%;
                    margin: auto;
                    left: 0; right: 0;
                    top: 0; bottom: 0;
                }

                    #bioSec2 .bioPicture .bioPic1{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        max-width: 320px;
                        max-height: 320px;
                        margin: auto;
                        left: 0; right: 0;
                        background: url(../img/biografia/camila_bio_01.png);
                        background-repeat: no-repeat;
                        -webkit-background-size: 100%;
                        background-size: 100%;
                    }

            .bioRightCol{
                position: relative;
                width: 60%;
                height: 100%;
                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
                text-align: left;
                letter-spacing: 0.3px;
            }

                #bioSec2 .textWrapper {
                    position: absolute;
                    width: 84%;
                    height: 80%;
                    margin: auto;
                    top: 0; bottom: 0; 
                    left: 0; right: 0;
                }

                    #bioSec2 .textWrapper .bioTitles{
                        width: 335px;
                        text-transform: uppercase;
                        font-size: 4em;
                        line-height: 1em;
                        -webkit-font-smoothing: antialiased !important;
                           -moz-font-smoothing: antialiased !important;
                            -ms-font-smoothing: antialiased !important;
                             -o-font-smoothing: antialiased !important;
                                font-smoothing: antialiased !important;
                    }

                    #bioSec2 .textWrapper p{
                        margin-top: 20px;
                        padding: 20px;
                        margin-left: -20px;
                        font-size: 1.4em;
                        background-color: rgba(255,255,255,0.9);
                    }

        #bioSec3 .textWrapper {
            position: absolute;
            width: 270px;
            height: 86%;
            top: 9%;
            left: 45%;
            text-align: left;
        }

            #bioSec3 .textWrapper .bioTitles{
                text-transform: uppercase;
                font-size: 4em;
                line-height: 1em;
                -webkit-font-smoothing: antialiased !important;
                   -moz-font-smoothing: antialiased !important;
                    -ms-font-smoothing: antialiased !important;
                     -o-font-smoothing: antialiased !important;
                        font-smoothing: antialiased !important;
            }

            #bioSec3 .textWrapper p{
                width: 92%;
                margin: auto;
                margin-top: 20px;
                font-size: 1.4em;
                padding: 20px;
                margin-left: -20px;
                background-color: rgba(255,255,255,0.9);
            }

        #bioSec4 .textWrapper {
            position: absolute;
            width: 45%;
            height: 80%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 15%;
            text-align: center;
        }

            #bioSec4 .bioPicture{
                position: relative;
                width: 100%;
                height: 254px;
                margin-bottom: 40px;
            }

            #bioSec4 .bioPicture .bioPic2{
                position: absolute;
                width: 254px;
                height: 254px;
                margin: auto;
                left: 0; right: 0;
                background: url(../img/biografia/camila_bio_02.png);
                background-repeat: no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }

            #bioSec4 .textWrapper .bioTitles{
                text-transform: uppercase;
                font-size: 4em;
                line-height: 1em;
                -webkit-font-smoothing: antialiased !important;
                   -moz-font-smoothing: antialiased !important;
                    -ms-font-smoothing: antialiased !important;
                     -o-font-smoothing: antialiased !important;
                        font-smoothing: antialiased !important;
            }

            #bioSec4 .textWrapper p{
                width: 92%;
                margin: auto;
                left: 0; right: 0;
                margin-top: 20px;
                font-size: 1.4em;
                padding: 20px;
                background-color: rgba(255,255,255,0.9);
            }


    /*LETTERS ANIMATION BG*/

        .bioletters{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .bioLetters img{
            position: absolute;
            top: 0; left: 0;
            height: 100%;
        }

        #bioSec1{
            background: url(../img/biografia/C_cut.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 15% 0;
            /*background-color: rgba(255,255,255,1);*/
        }

        #bioSec2{
            background: url(../img/biografia/A_foil_L.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            /*background-color: rgba(255,255,255,1);*/
        }

        #bioSec3{
            background: url(../img/biografia/M_foil.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            /*background-color: rgba(255,255,255,1);*/
        }

        #bioSec4{
            background: url(../img/biografia/I_foil.png);
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            /*background-color: rgba(255,255,255,1);*/
        }
    /*END LETTERS ANIMATION BG*/
/*END BIOGRAFIA SECTION*/

/*GALERIA SECTION*/
    #galeriaWrapper{
        position: absolute;
        height: 100%;
        right: 0;
        background-color: #fff;
    }

    #galeriaCurtain{
        position: absolute;
        height: 100%;
        right: 0;
        background-color: #fff;
    }

    #galeriaContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        overflow: scroll;
    }

        .galRows{
            position: relative;
            height: 100%;
            float: left;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
        }

        .galRows:first-child, .galRows:last-child{
            width: 25%;
        }

        .galRows:nth-child(2){
            width: 50%;
        }

        /*.galImg:nth-child(odd){
            background-color: aqua;
            opacity: .5;
        }*/

        .galImg {
            height: auto;
            opacity: .5;
        }

        .galImg:hover{
            opacity: 1;
        }

        .galImg img{
            width: 100%;
            opacity: 0;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }

        .galImg img:hover{
            opacity: 1;
        }

        .galFullImg{
            position: relative;
            width: 100%;
            float: left;
        }

        .galMidImg{
            position: relative;
            width: 50%;
            float: left;
        }

        .galeQuotes{
            height: auto;
            text-align: center;
            color: #000;
            background-color: rgba(255,255,255,1);
        }

        .galeQuotes img{
            width: 100%;
        }

        .quote{
            position: absolute;
            width: 100%;
            height: 2em;
            margin: auto;
            top: 0; bottom: 0;
            text-transform: uppercase;
            font-size: 1.6em;
            line-height: 1em;
        }

        .author{
            position: absolute;
            width: 100%;
            height: 100px;
            margin: auto;
            bottom: 0;
            font-size: 1.2em;
        }
            /*B/N BG PHOTOS*/
                #pic1{
                    background: url(../img/gal/byn/1.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic2{
                    background: url(../img/gal/byn/2.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic3{
                    background: url(../img/gal/byn/3.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic4{
                    background: url(../img/gal/byn/4.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic5{
                    background: url(../img/gal/byn/5.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic6{
                    background: url(../img/gal/byn/6.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic7{
                    background: url(../img/gal/byn/7.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic8{
                    background: url(../img/gal/byn/8.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic9{
                    background: url(../img/gal/byn/9.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic10{
                    background: url(../img/gal/byn/10.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic11{
                    background: url(../img/gal/byn/11.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic12{
                    background: url(../img/gal/byn/12.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic13{
                    background: url(../img/gal/byn/13.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic14{
                    background: url(../img/gal/byn/14.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic15{
                    background: url(../img/gal/byn/15.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }

                #pic16{
                    background: url(../img/gal/byn/16.jpg);
                    -webkit-background-size: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top left;
                }
            /*END B/N BG PHOTOS*/
/*END GALERIA SECTION*/








/*ANIMATION CLASSES*/
    .easeInOut{
        -webkit-transition: all .6s ease-in-out;
           -moz-transition: all .6s ease-in-out;
            -ms-transition: all .6s ease-in-out;
             -o-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
    }

    .easeInOutSlow{
        -webkit-transition: all 1.8s cubic-bezier(.6,0,0,1);
           -moz-transition: all 1.8s cubic-bezier(.6,0,0,1);
            -ms-transition: all 1.8s cubic-bezier(.6,0,0,1);
             -o-transition: all 1.8s cubic-bezier(.6,0,0,1);
                transition: all 1.8s cubic-bezier(.6,0,0,1);
    }

    /*MENU TEXT COLOURS*/
        .menuOnBlack{
            text-decoration: none;
            color: rgba(255,255,255,0.4);
        }
        .menuOnBlack:hover{
            color: rgba(255,255,255,1);
        }

        .menuOnWhite{
            text-decoration: none;
            color: rgba(179,179,179,1);
        }
        .menuOnWhite:hover{
            color: rgba(215,142,92,1);
        }
    /*END TEXT COLOURS*/

    .hiddenSection{
        width: 0%;
    }

    .showSection{
        width: 100% !important;
    }

    .eraseBG{
        background: none !important;
        background-color: rgba(255,255,255,0) !important;
    }

    .crystal{
        opacity: 0 !important;
    }

    .testing{
        position: absolute;
        margin: auto;
        right: 0; left: 0; top: 0; bottom: 0;
        width: auto;
        height: auto;
    }

    .activeBio{
        color: rgba(0,0,0,1) !important;
        text-decoration: underline !important;
        font-size: 1.6em !important;
    }

    .activeGal{
        color: rgba(215,142,92,1) !important;
        text-decoration: underline !important;
        font-size: 1.6em !important;
    }
/*END ANIMATION CLASSES*/



/*RESPONSIVE CLASSES*/
    

    /*HEIGHT OVERFLOW BIO FIX*/
    @media (max-height: 845px) and (min-width: 768px){
        .bioSections:last-child{
            margin-bottom: 30%;
        }
    }

    /*LAPTOP STYLE*/
    @media (max-width: 1199px) and (min-width: 992px){
        /*BIO*/
            #bioLogo{
                width: 167px;
                height: 50px;
            }

            #bioSec1 .textWrapper .bioTitles, #bioSec2 .textWrapper .bioTitles, #bioSec3 .textWrapper .bioTitles, #bioSec4 .textWrapper .bioTitles{
                font-size: 3.2em;
            }

            #bioSec1 .textWrapper p, #bioSec2 .textWrapper p, #bioSec3 .textWrapper p, #bioSec4 .textWrapper p{
                font-size: 1.2em;
            }

            #bioSec1 .textWrapper{
                width: 731.5px;
                height: 260px;
                right: 5%;
            }

            .bioRightCol{
                width: 70%;
            }

            #bioSec2 .textWrapper{
                width: 90%;
            }

            #bioSec3 .textWrapper{
                top: 5%;
                left: 55%;
            }

            #bioSec3{
                margin-bottom: 0;
            }

            #bioSec4{
                background-position: 130% 0;
            }

            #bioSec4 .textWrapper{
                bottom: auto;
                width: 45%;
            }

            #bioSec4 .bioPicture{
                height: 200px;
            }

            #bioSec4 .bioPicture .bioPic2{
                width: 200px;
                height: 200px;
            }

            .bioSections:last-child{
                margin-bottom: 10%;
            }
        /*END BIO*/

        /*GALERIA*/
            .quote{
                font-size: 1.2em;
            }
        /*END GALERIA*/
    }

    /*TABLET*/ 
    @media (min-width: 768px) and (max-width: 1024px) {
        /*BIO*/
            #biografiaCurtain{
                height: 455%;
            }

            #bioSec1 .textWrapper{
                width: 731.5px;
                height: 260px;
                right: 5%;
            }

            #bioSec1 .textWrapper p{
                background-color: rgba(255,255,255,0);
            }

            #bioSec2{
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 60%;
                margin-bottom: 30%;
            }

            #bioVoiceWrapper{
                height: 100%;
            }

            .bioLeftCol{
                width: 100%;
                height: 30%;
            }

            #bioSec2 .bioPicture{
                width: 100%;
                height: 100%;
            }

            #bioSec2 .bioPicture .bioPic1{
                max-width: 238px;
                max-height: 238px;
            }

            .bioRightCol{
                width: 100%;
                height: 100%;
            }

            #bioSec2 .textWrapper{
                height: 100%;
            }

            #bioSec3{
                -webkit-background-size: 120%;
                background-size: 120%;
                background-position: center center;
            }

            #bioSec4{
                background-position: 330%;
            }

            #bioSec4 .textWrapper{
                width: 65%;
                bottom: auto;
            }
        /*END BIO*/


        /*GALERIA*/
            .galRows{
                width: 100% !important;
                height: auto !important;
            }
        /*END GALERIA*/
    }

    /*TABLET PORTRAIT*/
    @media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
        #bioSec1 .textWrapper{
                width: 531.5px;
                height: 500px;
                right: 40px;
            }
    }

    /*MOBILE*/
    @media (max-width: 767px){
        /*LOADER*/
            .MariaLuisa{
                width: 90%;
                width: calc(100% - 10px) !important;

                height: 90%;
                height: calc(100% - 10px) !important;
            }
        /*END LOADER*/

        /*NAV*/
            .onlyMob{
                display: block;
                visibility: visible;
                opacity: 1;
                z-index: 1000000000000;
            }
            .mobCrystal{
                opacity: 0 !important;
            }
            .notInMob, .mobHidden {
                display: none !important;
                visibility: hidden !important;
                opacity: 0 !important;
                z-index: -1 !important;
            }

            #menuWrapper{
                position: fixed;
                width: 100%;
                height: 51px;
                background-color: rgba(255,255,255,0);
                overflow: hidden;
                z-index: 1000000000;

                
            }

            .showMenuHome{
                height: 100% !important;
                background-color: rgba(255,255,255,0.9) !important;
            }

            #burguerIcon{
                position: absolute;
                width: 25px;
                height: 10px;
                margin: auto;
                top: 0; bottom: 0;
                right: 23px;
                cursor: pointer;

                -webkit-transition: all .8s cubic-bezier(.6,0,0,1);
                   -moz-transition: all .8s cubic-bezier(.6,0,0,1);
                    -ms-transition: all .8s cubic-bezier(.6,0,0,1);
                     -o-transition: all .8s cubic-bezier(.6,0,0,1);
                        transition: all .8s cubic-bezier(.6,0,0,1);
            }

            #burguerIcon:hover{
                height: 15px;
            }

                #burguerIcon li{
                    position: absolute;
                    list-style-type: none;
                    width: 100%;
                    height: 1px;
                    margin: auto;
                    background-color: rgba(255,255,255,0.9);
                    -webkit-transform: rotate(0deg);
                       -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                         -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                }

                .burguerLinesOnWhite{
                    background-color: rgba(0,0,0,1) !important;
                }

                #burguerIcon li:first-child{
                    top: 0;
                    bottom: 100%;
                }

                #burguerIcon li:nth-child(2){
                    top: 0;
                    bottom: 0;
                    left: 0; right: 0;
                }

                #burguerIcon li:last-child{
                    top: 100%;
                    bottom: -0.5px;
                }

                    #burguerIcon .activeMenu{
                        background-color: rgba(0,0,0,0.9) !important;
                    }

                        #burguerIcon .activeMenu:first-child{
                            bottom: 0;
                            -webkit-transform: rotate(45deg) !important;
                               -moz-transform: rotate(45deg) !important;
                                -ms-transform: rotate(45deg) !important;
                                 -o-transform: rotate(45deg) !important;
                                    transform: rotate(45deg) !important;
                        }

                        #burguerIcon .activeMenu:nth-child(2){
                            width: 0% !important;
                        }

                        #burguerIcon .activeMenu:last-child{
                            top: 0;
                            -webkit-transform: rotate(-45deg) !important;
                               -moz-transform: rotate(-45deg) !important;
                                -ms-transform: rotate(-45deg) !important;
                                 -o-transform: rotate(-45deg) !important;
                                    transform: rotate(-45deg) !important;
                        }

            .menuOptionsMobile{
                position: absolute !important;
                height: 47px !important;
                display: block !important;
                right: 0 !important;
                left: 0 !important;
                font-size: 2em !important;
                -webkit-transform: rotate(0deg) !important;
                   -moz-transform: rotate(0deg) !important;
                    -ms-transform: rotate(0deg) !important;
                     -o-transform: rotate(0deg) !important;
                        transform: rotate(0deg) !important;
            }

            #homeMenu {
                top: 0 !important;
                bottom: 3em !important;
            }
            #biografiaMenu {
                width: 120px !important;
                top: 0 !important;
                bottom: 0 !important; 
                margin-left: auto !important;
            }
            #galeriaMenu {
                top: 3em !important;
                bottom: 0 !important;
                margin-right: auto !important;
            }

            #contactoMenu{
                bottom: 0 !important;
                font-size: 2em !important;
                border-top: 1px solid #d78e5c;
            }

            #rrss{
                bottom: 10px !important;
            }

            #snapID{
                width: 160px !important;
                font-size: 0.5em !important;
                color: rgba(215,142,92,1) !important;
                line-height: 30px !important;
            }

            .menuOnBlack{
                color: rgba(0,0,0,1) !important;
            }

            .mobLogo{
                position: absolute;
                width: 100%;
                height: 50px;
                top: 0;
                border-bottom: 1px solid rgba(0,0,0,0.4);
                z-index: -1 !important;
            }

            .mobLogo img{
                position: absolute;
                width: 140px;
                height: 30px;
                margin: auto;
                top: 10px;
                left: 0; right: 0;
                cursor: pointer;
            }

            .notMobLogo{
                opacity: 0 !important;
                top: -50px !important;
            }

            .stayMobLogo{
                opacity: 1 !important;
                top: 0 !important;
                background-color: rgba(255,255,255,1);
            }

            .activeBio, .activeGal {
                color: rgba(0,0,0,1) !important;
                font-size: 1em !important;
            }

            .activeHomeMob{
                color: rgba(0,0,0,1) !important;
                text-decoration: underline !important;
            }
        /*END NAV*/

        /*GENERAL WRAPPERS*/
            #currentWrapper{
                width: 90%;
                width: calc(100% - 10px);
                height: 90%;
                height: calc(100% - 10px);
            }
        /*END WRAPPERS*/
        
        /*HOME*/
            #logoWrapper{
                width: 250px;
                height: 75px;
            }
        /*END HOME*/

        /*BIO*/
            #biografiaCurtain{
                height: 475%;
                max-height: 2200px;
            }

            #biografiaContainer{
                min-height: 1920px;
                max-height: 2800px;
            }

            #bioSec1{
                background-position: -15px 30px;
                margin-bottom: 0;
            }

            #bioSec1 .textWrapper{
                width: 80%;
                max-width: 400px;
                height: 50%;
                right: 5%;
            }

            #bioSec1 .textWrapper .bioTitles, #bioSec2 .textWrapper .bioTitles, #bioSec3 .textWrapper .bioTitles, #bioSec4 .textWrapper .bioTitles{
                font-size: 1.2em;
            }
            #bioSec1 .textWrapper p, #bioSec2 .textWrapper p, #bioSec3 .textWrapper p, #bioSec4 .textWrapper p{
                font-size: .9em;
                line-height: 1em;
                margin-top: 0;
            }

            #bioSec1 .textWrapper p{
                background-color: transparent;
                width: 85%;
            }

            #bioSec2 .bgStroke{
                top: -35%;
                background-position: right;
            }

            #bioVoiceWrapper{
                height: 100%;
            }

            .bioLeftCol{
                width: 100%;
                height: 150px;
            }
            #bioSec2 .bioPicture{
                width: 100%;
                height: 100%;
            }

            #bioSec2 .bioPicture .bioPic1{
                max-width: 150px;
                max-height: 150px;
            }

            #bioSec2{
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 60% 50%;
                height: 35%;
                max-height: 672px;
            }

            .bioRightCol{
                width: 90%;
            }

            #bioSec2 .textWrapper{
                width: 90%;
                height: 90%;
            }

            #bioSec2 .textWrapper .bioTitles{
                width: 100%;
            }

            #bioSec3{
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 40% 50%;
            }

            #bioSec3 .textWrapper{
                top: 5%;
                width: 45%;
                left: 55%;
            }

            #bioSec3 .textWrapper p{
                width: 85%;
            }

            #bioSec4{
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 80vw 50%;
            }

            #bioSec4 .textWrapper{
                bottom: auto;
                width: 80%;
                left: 5%;
            }

            #bioSec4 .bioPicture{
                height: 150px;
                margin-bottom: 5%;
            }

            #bioSec4 .bioPicture .bioPic2{
                width: 150px;
                height: 150px;
            }
        /*END BIO*/

        /*GALERIA*/
            .galRows{
                width: 100% !important;
                height: auto !important;
            }

            .quote{
                height: 2em;
                font-size: 1.6em;
            }
        /*END GALERIA*/
    }

    /*MOBILE LANDSCAPE*/
    @media (max-width: 767px) and (orientation:landscape){
        #bioSec1{
            -webkit-background-size: contain;
            background-size: contain;
            background-position: -10% -10px;
        }

        #bioSec1 .textWrapper{
            max-height: 160px;
        }
    }


/*END RESPONSIVE CLASSES*/
    
@media (min-width: 768px){
    .onlyMob{
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
